.list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 16px;
}

.listItem {
    list-style: none;
    padding: 16px;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.itemName b, .itemLanguage b {
    margin-right: 8px;
}

.itemLink {
    display: block;
    padding: 8px;
    margin-top: 8px;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    color: var(--corSecundaria);
    background-color: var(--corPrincipal);
}